@using M_Nek_Mohammade_HW_W18_01.DataAccessLayer
@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<a asp-action="SortProducts" asp-route-storeId="@ViewBag.StoreId" asp-route-sortByPriceAsc="true" class="btn btn-success">Sort by Price Ascending</a>
<a asp-action="SortProducts" asp-route-storeId="@ViewBag.StoreId" asp-route-sortByPriceAsc="false" class="btn btn-danger">Sort by Price Descending</a>

<table class="table">
    <thead>
        <tr>
            <th>Product_Name</th>
            <th>Model_Year</th>
            <th>List_Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="productList">
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Product_Name</td>
                <td>@product.Model_Year</td>
                <td>@product.List_Price</td>
                <td><a href="@Url.Action("EditProduct", new { productId = product.Product_Id })" class="btn btn-warning">Edit</a></td>
            </tr>
        }
    </tbody>
</table>


